.authForm {
	background: #f0f0f0;
	margin-top: 20%;
	padding: 25px 50px;
}
.authForm .form-control:focus {
	border-color: #d80027;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(216, 0, 39, .6)
}
.authForm .noticeLink {
	text-align: center;
	font-weight: 500;
	margin-top: 20px;
}
.authForm .noticeLink a {
	color: #d80027;
	font-weight: 600;
}
.authForm .noticeLink a:hover {
	text-decoration: none;
}
